*/META-INF/*
*/*.jar
*/*.class
*/*.bak
*/*~
.idea/*
*/.idea/*
*/logs/*
*/tmp/*
*/.history
svn
*/.svn/*
.DS_Store
*/.DS_Store
*.iml
*/.iml
*/.settings
*/target/*
.mvn/
*/.mvn/
*.ipr
*/*.ipr
*.iws
*/*.iws
*/.checkstyle
*/.ekstazi
*/.pmd
*/.pmdruleset
*/.pmdruleset.xml
*/.ruleset
*/.settings/
*/bin/*
*/.metadata
*/.metadata/*
.sonar
*/.sonar/*
